<ion-view name="Login">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="full_name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-calm" ng-click="login(full_name, password)">Login</button>
    </div>
  </ion-content>
</ion-view>
